<div class="flex pt-14 flex-col gap-4">
    <h1 class="text-3xl mb-5 font-medium text-gray-600">Categories</h1>

    <form>
        <div class="flex flex-col gap-5">
            <div class="flex flex-col gap-1">
                <label class="font-medium text-gray-600" for="">Create new category</label>
                <div  class="flex gap-3">
                    <input placeholder="Category name" class="px-3 font-medium py-2 border-2 border-gray-300" type="text">
                    <input class="px-3 py-2 border-2 border-gray-300" type="text">
    
                </div>
            </div>
            
            <div class="flex gap-1 flex-col">
                <label class="font-medium text-gray-600" for="">Properties</label>
                <button class="px-3 py-2 border-2 border-gray-300 w-44 bg-white font-medium rounded-md">Add new property</button>
            </div>

            <button class="bg-green text-white font-medium rounded-md px-3 py-2 bg-green-500 w-24">Save</button>

        </div>
    </form>

</div>