<div>
  <form
    [formGroup]="editCategoryForm"
    (ngSubmit)="onEditCategory()"
    class="text-light-purple"
  >
    <div class="flex flex-col gap-5">
      <div class="flex flex-col gap-1">
        <label class="font-medium text-sm md:text-base" for="categoryName"
          >Create new category</label
        >
        <div class="flex gap-3">
          <div>
            <input
              id="categoryName"
              formControlName="categoryName"
              placeholder="Category name"
              class="px-2 rounded-sm w-36 text-sm font-medium py-1 border-2 border-gray-300 md:text-base md:w-56"
              type="text"
            />
          </div>
          <div>
            <!-- [(ngModel)]="categories[0]" -->
            <select
              formControlName="parent"
              class="max-w-fit w-48 text-sm text-light-purple font-medium px-2 py-1 border-2 border-gray-300 rounded-sm md:text-base md:w-56"
              required
            >
              <!-- <option
                *ngFor="let category of categories; let i = index"
                [ngValue]="category"
                [selected]="i == 0"
              >
                {{ category.categoryName }}
              </option> -->
            </select>
          </div>
        </div>
      </div>

      <div class="flex gap-1 flex-col">
        <label class="font-medium text-sm md:text-base" for=""
          >Properties</label
        >
        <button
          (click)="onAddProperty()"
          type="button"
          class="px-3 py-2 text-white text-sm border-gray-300 w-fit bg-light-purple hover:bg-dark-purple font-medium rounded-md md:text-base"
        >
          Add new property
        </button>

        <div>
          <div>
            <div formArrayName="properties">
              <div
                *ngFor="
                  let propertyControl of propertyControls.controls;
                  let i = index
                "
                [formGroupName]="i"
              >
                <div class="flex gap-2 my-2">
                  <input
                    required
                    class="mb-4"
                    formControlName="property"
                    class="px-2 font-medium py-1 border-2 border-gray-300"
                    type="text"
                  />
                  <input
                    required
                    formControlName="value"
                    class="px-3 font-medium py-1 border-2 border-gray-300"
                    type="text"
                  />
                  <!-- [disabled]="
                      categoryForm.get('properties').invalid &&
                      categoryForm.get('properties').touched &&
                      !categoryForm.get('properties').pristine
                    " -->
                  <button
                    (click)="onDeletePropertyControl(i)"
                    type="button"
                    class="bg-red-600 bg-gradient-to-r hover:from-red-600 hover:to-red-500 text-white font-medium rounded-md px-3 py-1 w-fit"
                  >
                    delete
                  </button>
                </div>
                <!-- <p
                  *ngIf="
                    categoryForm.get('properties').invalid &&
                    categoryForm.get('properties').touched
                  "
                  class="text-red-600 font-medium"
                >
                  Properties must not be empty!
                </p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex gap-3">
        <button
          (click)="onCancelEdit()"
          type="submit"
          class="text-sm font-medium mb-4 w-fit text-white bg-red-600 px-3 py-2 rounded-md md:text-base"
        >
          cancel
        </button>
        <button
          (click)="onSaveCategory()"
          type="submit"
          class="font-medium bg-gradient-to-r bg-green-500 text-sm hover:from-gray-500 hover:to-green-900 mb-4 w-fit text-white px-3 py-2 rounded-md md:text-base"
        >
          Save
        </button>
      </div>
    </div>
  </form>
</div>
