<div
  class="flex bg-light h-full w-screen md:w-full md:rounded-md md:px-7 flex-col pt-7 px-3 overflow-scroll overflow-x-hidden overflow-y-auto"
>
  <div class="flex justify-between mt-5 md:mt-2">
    <h1 class="text-2xl text-light-purple mb-10 md:text-3xl">
      Hello, <span class="font-bold">{{ user.name }}</span>
    </h1>
    <div class="flex items-center h-fit">
      <img class="w-6 h-6" [src]="user.picture" alt="User image not found" />
      <p class="text-dark-purple px-2 rounded-br-sm rounded-tr-sm bg-gray-300">
        {{ user.name }}
      </p>
    </div>
  </div>

  <h1 class="text-2xl text-dark-purple mb-3 font-semibold md:text-3xl">
    Orders
  </h1>
  <div class="flex flex-wrap gap-6 mb-10 -6 py-3 md:gap-10">
    <div
      class="flex flex-col bg-white gap-2 text-center w-44 py-3 h-fit box-shadow md:w-56"
    >
      <p class="text-light-purple font-medium">TODAY</p>
      <p class="font-bold text-blue-700 text-3xl">2</p>
      <p class="font-medium text-light-purple">2 orders today</p>
    </div>
    <div
      class="flex flex-col bg-white gap-2 text-center w-44 py-3 h-fit box-shadow md:w-56"
    >
      <p class="text-light-purple font-medium">THIS WEEK</p>
      <p class="font-bold text-blue-700 text-3xl">2</p>
      <p class="font-medium text-light-purple">2 orders this week</p>
    </div>
    <div
      class="flex flex-col bg-white gap-2 text-center w-44 py-3 h-fit box-shadow md:w-56"
    >
      <p class="text-light-purple font-medium">THIS MONTH</p>
      <p class="font-bold text-blue-700 text-3xl">2</p>
      <p class="font-medium text-light-purple">2 orders this month</p>
    </div>
  </div>

  <h1 class="text-2xl text-dark-purple mb-3 font-semibold md:text-3xl">
    Revenue
  </h1>
  <div class="flex flex-wrap gap-6 mb-6 md:gap-10">
    <div
      class="flex flex-col bg-white gap-2 text-center w-44 py-3 box-shadow md:w-56"
    >
      <p class="text-light-purple font-medium">TODAY</p>
      <p class="font-bold text-blue-700 text-3xl">$ 2</p>
      <p class="font-medium text-light-purple">2 orders today</p>
    </div>
    <div
      class="flex flex-col bg-white gap-2 text-center w-44 py-3 box-shadow md:w-56"
    >
      <p class="text-light-purple text-md font-medium">THIS WEEK</p>
      <p class="font-bold text-blue-700 text-3xl">$ 2</p>
      <p class="font-medium text-light-purple">2 this week</p>
    </div>
    <div
      class="flex flex-col bg-white gap-2 text-center py-3 w-44 box-shadow md:w-56"
    >
      <p class="text-dark-purple text-md font-medium">THIS MONTH</p>
      <p class="font-bold text-blue-700 text-3xl">$ 2</p>
      <p class="font-medium text-light-purple">2 this month</p>
    </div>
  </div>
</div>
