<div class="h-full flex relative w-full bg-dark-purple">
  <div href="adminPanel">
    <div class="mt-2 ml-2">
      <button id="hamburger-menu" class="md:hidden flex" (click)="onDropdown()">
        <lucide-icon name="menu"></lucide-icon>
      </button>
    </div>
    <div id="adminPanel" class="md:flex hidden">
      <app-admin-panel class="w-full"></app-admin-panel>
    </div>
  </div>

  <div class="hidden">
    <!-- <div id="adminPanel" class="hidden md:flex"> -->

    <!-- <div class="w-full my-3 rounded-lg pr-2 py-2 bg-white"> -->
    <router-outlet></router-outlet>
    <!-- </div> -->
    <!-- </div> -->
  </div>
</div>
