<div class="flex md:bg-dark-purple relative w-full md:w-screen md:h-screen">
  <div *ngIf="isAuthenticated">
    <div (click)="onDropdown()" class="fixed top:0 mt-2 ml-2">
      <button id="hamburger-menu" class="md:hidden flex">
        <lucide-icon name="menu"></lucide-icon>
      </button>
    </div>
    <div
      (click)="onCloseDropDown()"
      [@adminpanelMenu]="state"
      class="absolute w-0 h-0 md:w-full md:h-full bg-dark-purple overflow-hidden md:static md:flex md:px-3"
    >
      <app-admin-panel></app-admin-panel>
    </div>
  </div>

  <div class="w-screen h-screen md:w-full">
    <router-outlet></router-outlet>
  </div>
</div>
