<div class="flex font-medium text-cream h-full gap-8 pr-6">
  <div class="flex w-fit flex-col pl-3 gap-6">
    <div class="pl-3">
      <div class="flex w-1/4 items-center">
        <lucide-icon class="-mt-2 mr-1" name="store"></lucide-icon>
        <h1 class="font-medium mt-3 text-2xl mb-8">
          EcommerceAdmin
        </h1>
      </div>
    </div>
    <div
      routerLink="dashboard"
      routerLinkActive="active-link"
      class="flex rounded-md py-2 pl-2 gap-2 text-xl cursor-pointer"
    >
      <lucide-icon name="home"></lucide-icon>
      <p class="-mt-1">Dashboard</p>
    </div>
    <div
      routerLink="products"
      routerLinkActive="active-link"
      class="flex rounded-md pl-2 py-2 gap-2 text-xl cursor-pointer"
    >
      <lucide-icon name="shopping-cart"></lucide-icon>
      <p class="-mt-1">Products</p>
    </div>
    <div
      routerLink="categories"
      routerLinkActive="active-link"
      class="flex rounded-md pl-2 py-2 gap-2 text-xl cursor-pointer"
    >
      <lucide-icon name="list"></lucide-icon>
      <p class="-mt-1">Categories</p>
    </div>
    <div
      routerLink="orders"
      routerLinkActive="active-link"
      class="flex rounded-md pl-2 py-2 gap-2 text-xl cursor-pointer"
    >
      <lucide-icon name="layers"></lucide-icon>
      <p class="-mt-1 pl-2">Orders</p>
    </div>
    <div
      routerLink="admins"
      routerLinkActive="active-link"
      class="flex rounded-md pl-2 py-2 gap-2 text-xl cursor-pointer"
    >
      <lucide-icon name="users"></lucide-icon>
      <p class="-mt-1">Admins</p>
    </div>
    <div
      routerLink="settings"
      routerLinkActive="active-link"
      class="flex rounded-md pl-2 py-2 gap-2 text-xl cursor-pointer"
    >
      <lucide-icon name="settings"></lucide-icon>
      <p class="-mt-1">Settings</p>
    </div>
    <div class="flex rounded-md pl-2 py-2 gap-2 text-xl cursor-pointer">
      <lucide-icon name="log-out"></lucide-icon>
      <button (click)="onLogout()" class="-mt-1">Logout</button>
    </div>
  </div>
  <div class="w-full my-3 rounded-lg pr-2 py-2 bg-white">
    <router-outlet></router-outlet>
  </div>
</div>
